.postWrap {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 16px -8px rgba(0, 0, 0, 0.68);
  margin: 30px 0 20px;
}
.post {
  padding: 10px;
}
.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 12px;
}
.postTopLeft {
  display: flex;
  align-items: center;
}
.postProfileImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
.postUsername {
  font-size: 15px;
  font-weight: 500;
  padding: 0 8px;
}
.postDate {
  font-size: 12px;
  font-weight: 400;
}
.postImg {
  margin: 20px 0;
  width: 100%;
  object-fit: cover;
}
.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.postBottomLeft {
  display: flex;
  align-items: center;
}
.postLikeCounter {
  padding: 0 12px;
}
.likeIcon {
  width: 24px;
  height: 24px;
  padding-right: 6px;
  cursor: pointer;
}
